modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/admin: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/scanner: web"

[[workflows.workflow]]
name = "artifacts/admin: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=23744 BASE_PATH=/admin/ pnpm --filter @workspace/admin run dev"
waitForPort = 23744

[[workflows.workflow]]
name = "artifacts/scanner: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21235 BASE_PATH=/scanner/ pnpm --filter @workspace/scanner run dev"
waitForPort = 21235

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
BREVO_SMTP_USER = "info@thedodgeclub.co.uk"
EXPO_PUBLIC_WEBSITE_URL = "https://thedodgeclub.co.uk/landing"
